{% extends "/layout/base.html" %}
{% block js %}
		jQuery(window).load(function() {
			$x = $(window).width();
			if ($x > 1024) {
				jQuery("#content .row").preloader();
			}

			jQuery('.magnifier').touchTouch();
			jQuery('.spinner').animate({
				'opacity' : 0
			}, 1000, 'easeOutCubic', function() {
				jQuery(this).css('display', 'none')
			});
		});
{% endblock %}

{% block content %}
<div id="content" class="content-extra"><div class="ic"></div>
	<div class="row-1">
		<div class="container">
		    <div class="row">
		        <div class="span12"> 
		        	<div class="flexslider">
		              <ul class="slides">
		                <li> <img src="/style/responsive/img/slide-1.jpg" alt="" > </li>
			            <li> <img src="/style/responsive/img/slide-2.jpg" alt="" > </li>
			            <li> <img src="/style/responsive/img/slide-3.jpg" alt="" > </li>
			            <li> <img src="/style/responsive/img/slide-4.jpg" alt="" > </li>
			            <li> <img src="/style/responsive/img/slide-5.jpg" alt="" > </li>
		         	  </ul>
		            </div>
		        <span id="responsiveFlag"></span>
		      	</div>
		      </div>
		  </div>
    </div>
    <div class="row-1">
        <div class="container">
    		<div class="row">
        <article class="span12">
        <h3>新品上市</h3>
         </article>
        <div class="clear"></div>
	         <ul class="portfolio clearfix">         
		{% for shop in shops -%}

                        {% if loop.index % 2 == 1 %}
                        <div class="ui-block-a">
                                <a href="/shop/{{shop.ename}}"><img src="/upload/{{ shop.cover }}" width="99%" height="350px"></a>
                <div class="cakedesc">
                    <p class="bigfs fs22 mt20"><font class="oc">￥{{ shop.price }}元</font></p>
                    <a href="/shop/{{shop.ename}}" class="bigfs fs14">{{ shop.ename }}{{ shop.name }}</a>
                </div>
                        </div>
                        {% elif loop.index % 2 == 0 %}
                        <div class="ui-block-b">
                                <a href="/shop/{{shop.ename}}"><img src="/upload/{{ shop.cover }}" width="99%" height="350px"></a>
                <div class="cakedesc">
                    <p class="bigfs fs22 mt20"><font class="oc">￥{{ shop.price }}元</font></p>
                    <a href="/shop/{{shop.ename}}" class="bigfs fs14">{{ shop.ename }}{{ shop.name }}</a>
                </div>
                        </div>
                        {% endif %}

                {%- endfor %}  
	           <li class="box"><a href="product_detail.html"><img alt="" src="/style/responsive/img/work/1.jpg"></a></li> 
	           <li class="box"><a href="/style/responsive/img/image-blank.png" class="magnifier" ><img alt="" src="/style/responsive/img/work/2.jpg"></a></li> 
	           <li class="box"><a href="/style/responsive/img/image-blank.png" class="magnifier" ><img alt="" src="/style/responsive/img/work/3.jpg"></a></li> 
	           <li class="box"><a href="/style/responsive/img/image-blank.png" class="magnifier" ><img alt="" src="/style/responsive/img/work/4.jpg"></a></li> 
	         </ul> 
	      </div>
     	</div>
    </div>
    <div class="row-1">
        <div class="container">
        <div class="row">
        <article class="span12">
        <h3>应季推荐</h3>
         </article>
         <div class="clear"></div>
	         <ul class="portfolio clearfix">           
	           <li class="box"><a href="/style/responsive/img/image-blank.png" class="magnifier" ><img alt="" src="/style/responsive/img/work/5.jpg"></a></li> 
	           <li class="box"><a href="/style/responsive/img/image-blank.png" class="magnifier" ><img alt="" src="/style/responsive/img/work/6.jpg"></a></li> 
	           <li class="box"><a href="/style/responsive/img/image-blank.png" class="magnifier" ><img alt="" src="/style/responsive/img/work/7.jpg"></a></li> 
	           <li class="box"><a href="/style/responsive/img/image-blank.png" class="magnifier" ><img alt="" src="/style/responsive/img/work/8.jpg"></a></li>                       
	         </ul> 
	      </div>
        </div>
     </div>
</div>
{% endblock %}      
