{% extends "/layout/base.html" %}
{% block js %}
		jQuery(window).load(function() {
			$x = $(window).width();
			if ($x > 1024) {
				jQuery("#content .row").preloader();
			}

			jQuery('.magnifier').touchTouch();
			jQuery('.spinner').animate({
				'opacity' : 0
			}, 1000, 'easeOutCubic', function() {
				jQuery(this).css('display', 'none')
			});
		});
{% endblock %}

{% block content %}
<div id="content" class="content-extra"><div class="ic"></div>
    <div class="row-1">
        <div class="container">
    		<div class="row">
        <article class="span12">
        <h3>商品列表</h3>
         </article>
        <div class="clear"></div>
	         <ul class="portfolio clearfix">         
               {% for shop in shops -%}
	           <li class="box"><a href="/shop/{{shop.ename}}"><img alt="" src="/upload/{{ shop.cover }}" width="270px" height="190px"></a></li> 
	           {%- endfor %}
	         </ul> 
	      </div>
     	</div>
    </div>
</div>
{% endblock %}      
