{% extends "/layout/base.html" %}
{% block js %}
	jQuery(window).load(function() {	
		$x = $(window).width();		
		if($x > 1024)
		{			
			jQuery("#content .row").preloader();
		}	
		jQuery(".list-blog li:last-child").addClass("last"); 
		jQuery(".list li:last-child").addClass("last"); 
		jQuery('.spinner').animate({'opacity':0},1000,'easeOutCubic',function (){jQuery(this).css('display','none')});	
  	}); 
{% endblock %} 
		 
					
{% block content %}  
   <div id="content">
   <div class="container">
    <div class="row">
          <div class="span12"> 
        <!-- slider -->
        <div class="flexslider">
              <ul class="slides">
            <li> <img src="/style/responsive/img/slide-1.jpg" alt="" > </li>
            <li> <img src="/style/responsive/img/slide-2.jpg" alt="" > </li>
            <li> <img src="/style/responsive/img/slide-3.jpg" alt="" > </li>
            <li> <img src="/style/responsive/img/slide-4.jpg" alt="" > </li>
            <li> <img src="/style/responsive/img/slide-5.jpg" alt="" > </li>
          </ul>
            </div>
            <div class="clear"></div>   
          	<span>商品1</span></br>
          	<span>价格 100 元</span>
	          <form id="contact-form">
	              <fieldset>
	                <div>
	                    <label class="name">数量：
	                    <input type="number" value="1">
	                </div>
	                </br>
	                <div class="buttons-wrapper"><a class="btn btn-1" data-type="submit">加入购物车</a></div>
	              </fieldset>
	          </form>
          </div>  
        <span id="responsiveFlag"></span>
      </div>
     </div>
  </div>
{% endblock %}
