{% extends "/layout/base.html" %}
{% block myjs %}
<link rel="stylesheet" type="text/css" href="/style/css/member.css"/>
{% endblock %}
{% block content %}
<div class="mypostion">我的订单</div>

{% if total > 0%}

{% set status = ['等待付款', '正在处理', '已发货', '订单完成', '已取消']%}
<div class="clearfix">
 {% for order in orders%}
                <table width="100%" border="1" rules=rows class="m_table mt10">
                	<tr class="bgf2">
                    	<td colspan=3 height="30px">
                        	<div class="fl ml10">订单号：U{{user.id}}-S{{order.id}}</div> 
                            <div class="fr mr10">{{status[order.status]}} 
                                {%if order.status == 0-%}
                                    <a href="/wxpay/pay">去付款</a>
                                    <a href="/user/cancelorder/{{order.id}}">取消订单</a>
                                {%-endif%}
                                {%if order.status == 2-%}
                                    <a href="/user/confirmorder/{{order.id}}">确认收货</a>
                                {%-endif%}
                                
                            </div>
                        </td>
                    </tr>
                    <tr>
                    <tr class="bgdd">
                        <td width="100%">
                            <table width="100%" class="fs12">
                                <tr>
                                    <td width="2%" height="30px;"></td>
                                    <td width="42%" height="30px" align="center">商品信息</td>
                                    <td width="14%" align="center">价格</td>
                                    <td width="14%" align="center">积分</td>
                                    <td width="14%" align="center">数量</td>
                                    <td width="14%" align="center">状态</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                        <td width="100%">
                            <table width="100%" class="fs12">
                            {% for orderitem in order.orderitems%}
                                <tr>
                                    <td width="2%" height="90px;"></td>
                                    <td width="42%">
                                    <a class="fl" href="/shop/{{orderitem.shop.ename}}"><img src="/upload/{{orderitem.shop.cover}}"></a>
                                    <p class="fl ml10">
                                        <a class="fs14" href="/shop/{{orderitem.shop.ename}}">{{orderitem.shop.name}}</a><br/>
				    </p>
				    </td>
                                    {%if orderitem.shopattr%}
                                    {%set price = orderitem.shopattr.price%}
                                    {%else%}
                                    {%set price = orderitem.shop.price%}
                                    {%endif%}

                                    <td width="14%" class="oc" align="center">
                                        {% if orderitem.shop.cid != 1 %}￥{{price}} {% else %} 0 {% endif%}
                                    </td>
                                    <td width="14%"class="oc" align="center">
                                        {% if orderitem.shop.cid == 1 %}{{price}} {% else %} 0 {% endif%}
                                    </td>
                                    <td width="14%" align="center">
                                        {{orderitem.num}}
                                    </td>
                                    <td width="14%"class="oc" align="center">
                                        {{status[order.status]}}
                                    </td>
                                </tr>
                            {% endfor %}
                            </table>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                {% endfor %}
                
            </div>




{{ module.Paginate(total, pagesize, page) }}

{% else %}

<p>还没有订单</p>

{% endif %}

{% endblock %}
