{% extends "/layout/base.html" %}
{% block myjs %}
<script type="text/javascript" src="/style/js/do.js"></script>
<script type="text/javascript" src="/style/js/shop.js"></script>
<script src="/style/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="/style/css/order.css"/>
<link rel="stylesheet" type="text/css" href="/style/css/shopping.css"/>			
{% endblock %}
{% block content %}
<style>
.dp-choose-date{display:none;}
</style>
<script type="text/javascript">

        function jsApiCall()
        {
            var appid = document.getElementById('appid').value;
            var timestamp = document.getElementById('timestamp').value;
            var noncestr = document.getElementById('noncestr').value;
            var package_pay = document.getElementById('package').value;
            var signtype = document.getElementById('signtype').value;
            var paysign = document.getElementById('paysign').value;
			WeixinJSBridge.invoke('getBrandWCPayRequest', {
                 "appId" : appid,
                 "timeStamp" : timestamp,
                 "nonceStr" : noncestr,
                 "package" : package_pay,
                 "signType" : signtype,
                 "paySign" : paysign
                 },function(res){
					WeixinJSBridge.log(res.err_msg);
                    if(res.err_msg == "get_brand_wcpay_request:ok"){
                        alert("支付完成，即将跳转到订单查看页面");
                        window.location='/user/orders';
                    }
                    else {
                            alert("支付失败");
                            window.location='/user/orders';
                    }
				}
            );
		}

		function callpay()
		{
			if (typeof WeixinJSBridge == "undefined"){
			    if( document.addEventListener ){
			        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
			    }else if (document.attachEvent){
			        document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
			        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
			    }
			}else{
			    jsApiCall();
			}
            
		}
	</script>
    <div class="wapper">
    <div class="title borcc borbot0">产品清单<a class="back" href="/order">回到购物车，修改产品 >></a></div>
    <table  width="100%" border="1" rules="rows" class="m_table">
        <tr class="bgdd">
            <td width="2%" height="30px">&nbsp;</td>
            <td width="50%">商品信息</td>
            <td width="16%">价格</td>
            <td width="16%">数量</td>
            <td width="16%">小计</td>
        </tr>
        {% for orderitem in orderitems %}
        <tr>
            <td width="2%" height="90px;"></td>
            <td>
                <a class="fl"><img src="/upload/{{orderitem.shop.cover}}"></a>
                <p class="fl ml10 fs12">
                    <a class="fs14">{{orderitem.shop.name}} </a><br>
                </p>
            </td>
            {%if orderitem.shopattr%}
            {%set price = orderitem.shopattr.price%}
            {%else%}
            {%set price = orderitem.shop.price|float%}
            {%endif%}
            <td class="oc">
                ￥{{price}}
            </td>
            <td>
		{{orderitem.num}}
               <!--span class="cakenumbox">
                   <input type="text" size="3" value="{{orderitem.num}}"  readonly>
               </span-->
            </td>
            <td>
                ￥{{price * orderitem.num}} {%if orderitem.shop.cid == 1 and price * orderitem.num > user.credit%}<span id="ctips">(积分不够)</span>{%endif%}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
    <div align="center">
		<button style="width:210px; height:30px; background-color:#FE6714; border:0px #FE6714 solid; cursor: pointer;  color:white;  font-size:16px;" type="button" onclick="callpay()" >支付</button>
        <input type="text" id="appid" name="appid" value="{{appid}}" class="fl" style="display:none;">
        <input type="text" id="timestamp" name="timestamp" value="{{timestamp}}" class="fl" style="display:none;">
        <input type="text" id="noncestr" name="noncestr" value="{{noncestr}}" class="fl" style="display:none;">
        <input type="text" id="package" name="package" value="{{package}}" class="fl" style="display:none;">
        <input type="text" id="signtype" name="signtype" value="{{signtype}}" class="fl" style="display:none;">
        <input type="text" id="paysign" name="paysign" value="{{paysign}}" class="fl" style="display:none;">
    </div>
{% endblock %}
{% block foot %}



{% endblock %}
