{% extends "layout/site.html" %}

{% block title %}产品列表{% endblock %}
{% block css %}list{% endblock %}
{% block js %}{% endblock %}
{% block content %}
<div class="blank10"></div>
<!--<div class="wapper">
	<div class="borcc p10" style="background: #dddddd;">
		分类：<a href="/list/">全部</a>&nbsp;{%for category in categorys -%}<a href="/list/{{category.slug}}">{{category.name}}</a>&nbsp;{% endfor%}&nbsp;|&nbsp;排序：<a href="/list/{{ccategory.slug}}">默认</a>&nbsp;<a href="/list/{{ccategory.slug}}?order=views">浏览</a>&nbsp;<a href="/list/{{ccategory.slug}}?order=orders">销量</a>
	</div> 
</div>-->
<div class="wapper fs16"><a href="/">首页</a> &gt;&gt; 产品列表 {% if ccategory %} &gt;&gt; {{ccategory.name}} {% endif %}</div>
<div class="blank10"></div>
<div class="wapper">
{% if total > 0 -%}
<div class="ui-grid-a">
        {% for shop in shops -%}
		
			{% if loop.index % 2 == 1 %}
			<div class="ui-block-a">
				<a href="/shop/{{shop.ename}}"><img src="/upload/{{ shop.cover }}" width="99%" height="350px"></a>
                <div class="cakedesc">
                    <p class="bigfs fs22 mt20"><font class="oc">￥{{ shop.price }}元</font></p>
                    <a href="/shop/{{shop.ename}}" class="bigfs fs14">{{ shop.ename }}{{ shop.name }}</a>
                </div>
			</div>
			{% elif loop.index % 2 == 0 %}
			<div class="ui-block-b">
				<a href="/shop/{{shop.ename}}"><img src="/upload/{{ shop.cover }}" width="99%" height="350px"></a>
                <div class="cakedesc">
                    <p class="bigfs fs22 mt20"><font class="oc">￥{{ shop.price }}元</font></p>
                    <a href="/shop/{{shop.ename}}" class="bigfs fs14">{{ shop.ename }}{{ shop.name }}</a>
                </div>
			</div>
			{% endif %}
		
		{%- endfor %}
</div>

{{ module.Paginate(total, pagesize, page) }}

{%-else-%}

暂无商品

{%- endif %}
</div>
{% endblock %}
