<!DOCTYPE html>
<html lang="en">
	<head>
	{% block head %}
	<title>菜市优品-{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
    <meta name="description" content="Codester is a free responsive Bootstrap template by Dzyngiri">
    <meta name="keywords" content="free, template, bootstrap, responsive">
    <meta name="author" content="Inbetwin Networks">  
	<link rel="stylesheet" href="/style/responsive/css/bootstrap.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/style/responsive/css/responsive.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/style/responsive/css/style.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/style/responsive/css/touchTouch.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/style/responsive/css/kwicks-slider.css" type="text/css" media="screen">
	{% block mycss %}{% endblock %}
	<script type="text/javascript" src="/style/responsive/js/jquery.js"></script>
    <script type="text/javascript" src="/style/responsive/js/superfish.js"></script>
	<script type="text/javascript" src="/style/responsive/js/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/style/responsive/js/jquery.kwicks-1.5.1.js"></script>
	<script type="text/javascript" src="/style/responsive/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/style/responsive/js/jquery.cookie.js"></script>    
	<script type="text/javascript" src="/style/responsive/js/touchTouch.jquery.js"></script>
	<script type="text/javascript">if($(window).width()>1024){document.write("<"+"script src='/style/responsive/js/jquery.preloader.js'></"+"script>");}	</script>
	{% endblock %}
	<script>
	{% block js %}{% endblock %}
	</script>
	{% block myjs %}{% endblock %}
</head>

<body>
<!-- header start -->
<header>
</header>
<!-- content -->
<div class="bg-content">{% block content %}{% endblock %}</div>
<!-- footer -->
<footer>
  <div class="container clearfix">
    <div class="privacy pull-right">&copy; Copyright &copy; 2015菜市优品 All RightRevesed.</div>
  </div>
</footer>
<script type="text/javascript" src="/style/responsive/js/bootstrap.js"></script>
</body>
</html>
